/* .body-text {
  display: flex;
  align-items: center;
  margin-top: 5px;
  background-color: rgb(40, 51, 54);
  flex-direction: column;
  text-decoration: solid;
  justify-content: space-evenly;
  color: gold;
} */
