/* .body-text {
  display: flex;
  align-items: center;
  margin-top: 5px;
  background-color: lightblue;
  flex-direction: column;
  text-decoration: solid;
  justify-content: space-evenly;
  color: gold;
}
.info {
  display: flex;
  justify-content: center;
} */
body {
  background-color: cornflowerblue;
}
/* .body-text {
  display: flex;
  align-items: center;
  margin-top: 50px;
 
  flex-direction: column;
  text-decoration: solid;
  justify-content: space-evenly;
  color: gold;
} */
